/* Common CSS */
:root {
    --background-color: #3a506b;
    --background-color: #ccd5ae;
    --text-color: #343a40;
    --sec-color: #ccd5ae;
    --third-color: #d4a373;
    --green: #ccd5ae;
    --global-font: "Poppins", sans-serif;
    --default-fs: 20px;
    --transition-speed: 0.3s;
}

/* Scroll */
html::-webkit-scrollbar {
    width: 8px;
    background-color: var(--third-color);
}

html::-webkit-scrollbar-thumb {
    background: var(--third-color);
    border-radius: 10px;
}

/* Global CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: var(--global-font);
    font-size: var(--default-fs);
    color: var(--sec-color);
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: var(--global-font);
    background: var(--background-color);
    color: var(--text-color);
    overflow-y: auto;
}

ul {
    list-style: none;
}

nav {
    width: 100%;
}

/* Sidebar Styles */
.sidebar {
    width: 250px;
    height: 100vh;
    background: var(--text-color);
    position: fixed;
    top: 30;
    left: -250px; /* Hidden by default */
    transition: left var(--transition-speed) ease-in-out;
    overflow-x: hidden;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

.sidebar.active {
    left: 0; /* Slide-in effect */
}

/* Sidebar Header */
.sidebar-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    color: var(--sidebar-text);
}

.sidebar-header h2 {
    margin: 0;
}

#toggle-btn {
    background: none;
    border: none;
    font-size: 24px;
    color: var(--sidebar-text);
    cursor: pointer;
}

/* Sidebar Menu */
.sidebar-menu {
    list-style: none;
    padding: 0;
}

.sidebar-menu li {
    padding: 15px 20px;
}

.sidebar-menu li a {
    color: var(--sidebar-text);
    text-decoration: none;
    display: block;
    transition: var(--transition-speed);
}

.sidebar-menu li a:hover {
    background: var(--sidebar-hover);
    border-radius: 5px;
}

/* Main Content */
.main-content {
    margin-left: 0;
    padding: 20px;
    transition: margin-left var(--transition-speed);
}

/* When sidebar opens, push content */
.sidebar.active + .main-content {
    margin-left: 250px;
}

/* Content Style */
.content {
    margin-top: 68px;
    margin-left: 0;
    transition: all 0.3s ease-in-out;
    padding: 10px 30px;
    min-height: 93vh;
}

.content.active {
    margin-left: 250px;
}

/* Push the footer to the bottom */
.sidebar-footer {
    margin-top: auto;
    padding: 0 20px;
    background-color: var(--background-color);
}

.menu-btn {
    cursor: pointer;
    font-size: 24px;
    color: var(--text-color);
    padding: 5px;
}

.menu-btn:hover {
    color: var(--hover-color);
}

/* login  */
.login-container {
    height: 100vh;
    width: 100%;
}
.login-card {
    padding: 30px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 3px 3px #1e1e1e57;
}
.login-card h1 {
    font-size: 30px;
    font-weight: 700;
}
.login-input {
    padding: 5px 0px;
}
.btn-cargo {
    background-color: var(--background-color);
    color: #fff;
    font-size: 20px;
}

/* Card */
.card {
    color: var(--text-color);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}

.card-hover:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px #8d8d8d26, 0 3px 6px #0000001a;
}

/* Datatable CSS */
mark {
    background: yellow;
    padding: 0px;
}

.paginate_button {
    padding: 5px 10px;
    background-color: rgba(128, 128, 128, 0.101);
    border-radius: 4px;
    margin: 0 4px;
    cursor: pointer;
}

.paginate_button.previous,
.paginate_button.next {
    background: none;
}

.paginate_button {
    padding: 5px;
}

#customerTable_info {
    text-align: center;
    color: #ccc;
    margin-bottom: 0.5rem;
}

table.dataTable.dtr-inline.collapsed > tbody > tr > td.dtr-control:before,
table.dataTable.dtr-inline.collapsed > tbody > tr > th.dtr-control:before {
    line-height: 1.08em;
}

.paginate_button.current {
    background-color: var(--sec-theme-color);
    color: #fff;
    width: 40px;
}

#datatable_filter input {
    padding: 5px 10px !important;
    border-radius: 8px !important;
    border: 1px solid #e0e0e0 !important;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

#datatable_filter input:focus {
    outline: 2px solid var(--sec-theme-color) !important;
}

#datatable_filter input:active {
    outline: 2px solid var(--sec-theme-color) !important;
}

#datatable_length select {
    padding: 5px 10px !important;
    border-radius: 8px !important;
    border: 1px solid #e0e0e0 !important;
    outline: none;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Responsive: Sidebar collapses on smaller screens */
@media (max-width: 768px) {
    .sidebar {
        width: 250px;
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .sidebar.active + .main-content {
        margin-left: 0;
    }
}
